/* Author: Subramanian Narayanan */

body {
    background-color: rgb(255, 255, 255);
    width: 800px;
    margin: auto;
}

h1 {
    color: rgb(16, 68, 212);
    text-align: center;
}

p {
    color: black;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.dataframe {
    border-top: 2px solid black;
border-bottom: 2px solid black;
border-collapse: collapse;
border-left: none ;
border-right: none ;
margin: 0 auto;
}

.dataframe thead th{
border-top: 2px solid black;
border-bottom: 2px solid black; 
padding: 5px;
border-left: none ;
border-right: none ;
color: rgb(58, 71, 247);
background-color: rgb(107, 32, 42);
}
.dataframe td {
border-bottom: 1px solid black;
padding: 5px;
border-left: none ;
border-right: none ;

}

.dataframe tr:nth-child(odd) {background-color: rgb(27, 235, 190)}
.dataframe tr:nth-child(even) {background-color: rgb(95, 243, 132)}